@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Tiny5&display=swap');

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
  background-color: blue;
}

img{
  width: 100px;
  height: 80px;
}

h1{
  font-family: "Tiny5", sans-serif;
  font-size: 100px;
  color: white;
  margin-bottom: 0px;
}

button{
  font-family: "Tiny5", sans-serif;
  font-size: 20px;
  background-color: white;
  color: blue;
  border-radius: 10px;
  border: solid #0a0a38;
}

span{
  color: white;
  font-family: "Oswald", sans-serif;
}